<form #f="ngForm" (ngSubmit)="submitContact(); f.reset();">


  <!--Grâce à la variable #f plus haut, je peux connaite-->
  <!--l'etat de validation du Formulaire-->


  <h5 class="text-center m-4">
    Ajouter un Contact
  </h5>

  <!--<pre>{{ nouveauContact | json}}</pre>-->
  <!--{{ f.valid}}-->

  <div class="form-group">
    <input type="text"
           name="name"
           required
           #name="ngModel"
           [(ngModel)]="nouveauContact.name"
           [class.is-invalid]="name.touched && name.invalid"
           [class.is-valid]="name.valid"
           class="form-control"
    placeholder="Saisissez votre nom complet">
    <div class="invalid-feedback">
      Vous devez saisir votre nom complet.
  </div>
  </div>

  <div class="form-group">

    <input type="text"
           name="username"
           required
           #username="ngModel"
           [class.is-invalid]="username.touched && username.invalid"
           [(ngModel)]="nouveauContact.username"
           [class.is-valid]="username.valid"
           class="form-control"
           placeholder="Saisissez votre pseudo...">
    <div class="invalid-feedback">
      Vous devez saisir votre pseudo complet.
    </div>

  </div>



  <div class="form-group">
    <input type="email"
           name="email"
           required
           #email="ngModel"
           [(ngModel)]="nouveauContact.email"
           [class.is-invalid]="email.touched && email.invalid"
           [class.is-valid]="email.valid"
           class="form-control"
           placeholder="Saisissez votre email">
    <div class="invalid-feedback">
      Vous devez saisir votre email complet.
    </div>
  </div>

 <button type="submit"
         [disabled]="f.invalid"
 class="btn btn-block btn-primary">
   Créer le contact
 </button>

</form>
